{extends "base.html" %}
{% block title %} 록그인 페이지 {% endblock %}
{% block content %}
<form method="POST">
    <h2 align="center">Sign In</h2>
    <div class="mb-3">
      <label for="InputEmail1" class="form-label">가입 이메일</label>
      <input name="email" type="email" class="form-control" id="userEmail1">
    </div>

       <div class="mb-3">
      <label for="InputPassword1" class="form-label">비밀번호</label>
      <input name="password1" type="password" class="form-control" id="Password1">
    </div>

    <button type="submit" class="btn btn-primary">로그아웃</button>
  </form>

{% endblock %}